<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change_status</title>
    <link rel="stylesheet" href="./style/navBar.css">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;

        }

        .button-link {
            display: inline-block;
            margin: 10px;
            padding: 10px;
            background-color: #f0f0f0;
            color: black;
            text-decoration: none;
            border-radius: 5px;
        }

        .nav-bar {
            position: relative;
            background-color: lightgray;
            padding: 10px;

        }

        .nav {
            justify-content: center;
            align-items: center;
            display: flex;
            gap: 25px;
            width: 100%;
            height: 2rem;
        }

        .button-link {
            display: inline-block;
            margin: 10px;
            padding: 10px;
            background-color: #f0f0f0;
            color: black;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>

</head>
<body>
<h1>Change Device Status</h1>
<div class="nav-bar">
    <nav class="nav">
        <a href="/showDevices" class="button-link">All Devices</a>
        <a href="/addDevice" class="button-link">Add New Device</a>
        <a href="/changeStatus" class="button-link">Change Device Status</a>
    </nav>
</div>
<form action="/changeStatus" method="post">
    <% devices.forEach(device => { %>
        <fieldset>
            <legend>Select Device To Change</legend>


            <input type="checkbox" name='deviceID' id="<%= device.model_number %>" value="<%= device.model_number %>">
            <label for="<%= device.model_number %>">Model Number: <%= device.model_number %>, Location: <%=
                    device.university_name %></label>
        </fieldset>
    <% }); %>
    <br>

    <label for="status">Status</label> <br>
    <select name="status" id="status">

        <option value="Inactive">Inactive</option>
        <option value="Active">Active</option>
        <option value="Broken">Broken :(</option>
    </select>

    <input type="submit" value="Submit" name="Change Status">

</form>
</body>
</html>