<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Devices</title>

    <style>
        th, td {
            border: 1px solid black;
            padding: 10px;
        }

        #main {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .button-link {
            display: inline-block;
            margin: 10px;
            padding: 10px;
            background-color: #f0f0f0;
            color: black;
            text-decoration: none;
            border-radius: 5px;
        }

        .nav-bar {
            position: relative;
            background-color: lightgray;
            padding: 10px;

        }

        .nav {
            justify-content: center;
            align-items: center;
            display: flex;
            gap: 25px;
            width: 100%;
            height: 2rem;
        }

        .button-link {
            display: inline-block;
            margin: 10px;
            padding: 10px;
            background-color: #f0f0f0;
            color: black;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<h1>Devices</h1>
<div class="nav-bar">
    <nav class="nav">
        <a href="/showDevices" class="button-link">All Devices</a>
        <a href="/addDevice" class="button-link">Add New Device</a>
        <a href="/changeStatus" class="button-link">Change Device Status</a>
    </nav>
</div>
<% devices.forEach(device => { %>
    <div id="main">
        <div >
            <p>Device Model Number: <%= device.model_number %></p>
            <p>Location: <%= device.university_name %></p>
            <div>
                <p>Device Status: <%= device.device_status %></p>

            </div>
            <p>Date Deployed: <%= device.date_deployed %></p>
            <!--        <p>Electrocardiogram Sensor: <%= device.electrocardiogram %></p>-->
            <!--        <p>IMU Sensor: <%= device.IMU %></p>-->
            <!--        <p>Optical Pulse Oximeter Sensor: <%= device.optical_pulse_oximeter %></p>-->
            <!--        <p>Microphone: <%= device.microphone %></p>-->
            <!--        <p>Temperature Sensor: <%= device.temperature_sensor %></p>-->
            <!--        <p>Electronic Nose: <%= device.electronic_nose %></p>-->
            <!--        <p>Galvanic Skin Response: <%= device.galvanic_skin_response %></p>-->
            <!--        <p>Micro Controller Model Number: <%= device.microcontroller_model_number %></p>-->
            <p>Data Info: <%= device.info_about_data_storage %></p>

        </div>
        <div>
            <table>
                <tr>
                    <th>Electrocardiogram Sensor</th>
                    <th>IMU Sensor</th>
                    <th>Optical Pulse Oximeter Sensor</th>
                    <th>Microphone</th>
                    <th>DTemperature Sensor</th>
                    <th>Electronic Nose</th>
                    <th>Galvanic Skin Response</th>
                </tr>
                <tr>
                    <th><%= device.electrocardiogram %></th>
                    <th><%= device.IMU %></th>
                    <th><%= device.optical_pulse_oximeter %></th>
                    <th><%= device.microphone %></th>
                    <th><%= device.temperature_sensor %></th>
                    <th><%= device.electronic_nose %></th>
                    <th><%= device.galvanic_skin_response %></th>
                </tr>
            </table>
        </div>
    </div>
    <form action="/changeStatus">
        <input type="submit" value="Change Status">
    </form>
    <br>
    <hr>
<% }); %>
</body>
</html>
